body {
  background: #eee;
  font-family: "Nunito Semibold"
}

form {
  background-color: #fff;
  position: fixed;
  left:0px;
  bottom: 0px;
  padding: 20px;
  width:400px;
}

form .field {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

form label{
  text-align: right;
  padding: 6px;
}

form select, form input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background-color: #AD1457;
  border-radius: 50%;
  border: 0;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  left: 10px;
}